@import '../../theme/style.scss';
.login-page {
  max-width: 350px;
  padding: 50px 0;
  h1 {
    color: $primary;
    display: flex;
    justify-content: center;
  }
  .login-form {
    .login-input {
      margin-top: 30px;
      margin-bottom: 10px;
      background-color: #fff;
      border: none
    }
  }
  .login-button {
      margin: 10px 0;
      height: 55px;
  }
}
.remmber {
  color: $secondary;
}
.group-function-account {
  padding-top: 10px;
  .astyle {
    color: $secondary;
  }
}
